github "robbiehanson/CocoaAsyncSocket" ~> 7.6.3
github "zhanggenlove/MMDB-Swift" "master"
github "zhanggenlove/Sodium-framework" "master"
github "zhanggenlove/YamlSwift" "master"
github "zhuhaow/tun2socks" ~> 0.7.0
